<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><strong><%= pluralize(user.errors.count, "error") %> </strong>prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field form-group">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth , start_year: Date.today.year, end_year: Date.today.year - 100 %><!-- esto es para manejar las fechas de anios de un punto a otro punto.-->
  </div>

  <div class="actions form-group">
    <!-- asi es como le das estilos a form.submit-->
    <%= form.submit 'Submit', :class=>'btn btn-primary' %><!--est es la forma viejita de hacer el :class=>'clase' ahora se hace de la siguiente forma class: 'clase".como lo hice en 
  </div>
<% end %>
